*{
    margin: 0;
    padding: 0;
}
main{
    width: 1200px;
    border: 2px solid red;
    margin: 0 auto;
}
.banner{
    height: 600px;
    width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}
.content{



    text-align: center;
  
    display: flex;
    flex-direction: column;
    gap: 10px;


}
.img-banner{

    padding-top: 30px;
}

/* .bold{
    font-weight: bold;
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; */

.banner-drem{
    width: 900px;
   padding-top: 20px;
   font-size: 18px;
 padding-bottom: 20px;
    align-items: center;
   
}
.headding{
    width: 900px; 
    font-size: 45px;
    font-weight: 700;
}
.btn {
 
    padding: 14px 25px; 
    margin: 0 auto;
    background-color: rgb(13, 19, 33); 
    color: white;
    border-radius: 5px; 
   
    font-weight: 600;
    border: none; 
    cursor: pointer; 
}

.section-div{
   width: ;
   height: ; 
}



.section-div{
    margin-bottom: 100px;
}
.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-title{
    text-align: center;

    border: 2px solid rebeccapurple;

}
.box-container{
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}
.contain-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contain-two{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contain-three{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Inspirationa-section  */

.banner-content{
    margin-top: 100px;
    margin-bottom: 200px;
    border: 5px solid aqua;

}
.Inspirationa{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Inspiration-tittle{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid navy;
}
.video-frame{
    height: 500px;
    width: 100%;
    border: 2px solid red;
}
/* .div-items  */
.div-icons{
    margin-top: 10px;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.html{
    

width: 364px;
height: 300px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05); 

}

.css{
    position: static;
    width: 364px;
    height: 300px;
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.js{

width: 364px;
height: 300px;
border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.comtain-title{
    text-align: center;
}
.occured{
    
    margin-top: 30px;
    align-items: center;
    background-image: url(../assets/handshake.jpg);

   height: 800px;

top: 50px;
bottom: 50px;
}
.oparation{

}

.osum{
   text-align: center;
    }

    .search-bar{
        display: flex;
        border: 2px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    .search-bar input {
        border: none;
        padding: 10px;
        outline: none;
        font-size: 16px;
    }
