*{
    margin: 0;
    padding: 0;
}
.banner{
    height: 600px;
    width: 1500px;
    margin: 0 auto;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}
.content{
    height: 500px;
    width: 900px;
    border: 2px solid black;
    text-align: center;
    margin: 100px auto;

}

/* .bold{
    font-weight: bold;
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; */

.banner-drem{
    width: 900px;
    height: 250px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
h1, p{
    text-align: center;
}